{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% unless template == 'index' or template == 'cart' %}
<ul class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <li>
    <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
  </li>

  {% if template contains 'product' %}

    {% if collection %}
      {% if collection.handle %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}
      {% endif %}
    {% endif %}
    <li>{{ product.title }}</li>

  {% elsif template contains 'collection' and collection.handle %}

    {% if current_tags %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      {{ collection.title | link_to: url }}
      <li>{{ current_tags | join: " + " }}</li>
    {% else %}
      <li>{{ collection.title }}</li>
    {% endif %}

  {% elsif template == 'blog' %}

    {% if current_tags %}
      {{ blog.title | link_to: blog.url }}
      <li>{{ current_tags | join: " + " }}</li>
    {% else %}
    <li>{{ blog.title }}</li>
    {% endif %}

  {% elsif template == 'article' %}

    {{ blog.title | link_to: blog.url }}
    <li>{{ article.title }}</li>

  {% elsif template contains 'page' %}

   <li>{{ page.title }}</li>

  {% else %}
   <li>{{ page_title }}</li>

  {% endif %}
</ul>
{% endunless %}
