<nav class="Navigation" role="navigation">
    <ul class="Navigation-list" id="AccessibleNav">
        {% for link in linklists.main-menu.links %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
            <li class="Navigation-item has-dropdown" aria-haspopup="true">
              <a href="{{ link.url }}" class="Navigation-link {% if link.active %} is-active{% endif %}">
                {{ link.title }}
              </a>
              <div class="Navigation-dropdown">
                <ul class="Navigation-dropdown-list">
                {% for childlink in linklists[child_list_handle].links %}
                    <li class="Navigation-item">
                        <a href="{{ childlink.url }}" class="Navigation-link ">{{ childlink.title | escape }}</a>
                    </li>
                {% endfor %}
                </ul>
                  {% comment %}
                  -- Secondary Navigation Teaser Module
                  The link handle must be the same as the
                  collection handle in order to display the teaser.
                  {% endcomment %}
                  {% if link.handle == collections[link.handle].handle %}
                  <a class="Navigation-teaser"  href="{{collections[link.handle].url}}" >
                      <figure>
                          <img  class="Navigation-teaser-image" alt="{{collections[link.handle].title}}" src="{{collections[link.handle].image.src | img_url: 'large'}}" />
                          <figurecaption class="Navigation-teaser-headline Headline--4">
                              {{'collections.general.shop' | t}} {{collections[link.handle].title}}
                          </figurecaption>
                      </figure>
                  </a>
                  {% endif %}
              </div>
            </li>
          {% else %}
            <li class="Navigation-item">
              <a href="{{ link.url }}" class="Navigation-link {% if link.active %} is-active{% endif %}">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>



    <div class="large--hide medium-down--show">
      <div class="grid">
        <div class="grid__item one-half">
          <div class="site-nav--mobile">
            <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
              <span class="icon icon-hamburger" aria-hidden="true"></span>
              <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
            </button>
          </div>
        </div>
        <div class="grid__item one-half text-right">
          <div class="site-nav--mobile">
            <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
              <span class="icon-fallback-text">
                <span class="icon icon-cart" aria-hidden="true"></span>
                <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

</nav>
