<nav class="Navigation" role="navigation">
    {% comment %}
    List out your main-menu linklist (default)

    More info on linklists:
      - http://docs.shopify.com/themes/liquid-variables/linklists
    {% endcomment %}
    <ul class="Navigation" id="AccessibleNav">
        {% for link in linklists.main-menu.links %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
            <li class="Navigation-item{% if link.active %} is-active{% endif %}" aria-haspopup="true">
              <a href="{{ link.url }}" class="Navigation-link">
                {{ link.title }}
              </a>
              <ul class="Navigation-dropdown">
                {% for childlink in linklists[child_list_handle].links %}
                  <li class="Navigation-item{% if link.active %} is-active{% endif %}">
                    <a href="{{ childlink.url }}" class="Navigation-link">{{ childlink.title | escape }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="Navigation-item{% if link.active %} is-active{% endif %}">
              <a href="{{ link.url }}" class="Navigation-link">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>


    <div class="large--hide medium-down--show">
      <div class="grid">
        <div class="grid__item one-half">
          <div class="site-nav--mobile">
            <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
              <span class="icon icon-hamburger" aria-hidden="true"></span>
              <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
            </button>
          </div>
        </div>
        <div class="grid__item one-half text-right">
          <div class="site-nav--mobile">
            <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
              <span class="icon-fallback-text">
                <span class="icon icon-cart" aria-hidden="true"></span>
                <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

</nav>
