{% comment %}
  WDLK Mailchimp newsletter intergration.
  The most important piece for the news letter to work it is
  the action url.
  * '//woodlike.us10.list-manage.com/subscribe/post?u=fc45d5bd59cd2e9dcfeeec732&amp;id=1af7e2c2b9'
{% endcomment %}
{% assign actionUrl = '//woodlike.us10.list-manage.com/subscribe/post?u=fc45d5bd59cd2e9dcfeeec732&amp;id=1af7e2c2b9'%}
<form class="NewsletterForm" action="{{actionUrl}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="NewsletterForm-content">
        <h3 class="Headline Headline--4">{{ 'layout.footer.newsletter_title' | t }}</h3>
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" name="EMAIL" class="InputField" id="mce-EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
        <button type="submit" value="{{ 'general.newsletter_form.submit' | t }}" name="subscribe" id="mc-embedded-subscribe" class="Btn">{{ 'general.newsletter_form.submit' | t }}</button>
    	<div id="mce-responses">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>
        {% comment %}
          real people should not fill this in and expect good things - do not remove this or risk form bot signups
        {% endcomment %}
        <div class="NewsletterForm-security" aria-hidden="true"><input type="text" name="b_fc45d5bd59cd2e9dcfeeec732_1af7e2c2b9" tabindex="-1" value=""></div>
    </div>

    {% assign newsletterBGSmart =
        'WDLK_Newsletter-Bg_Smartphone_1x.jpg' | asset_url %}
    {% assign newsletterBGSmart2x =
        'WDLK_Newsletter-Bg_Smartphone_2x.jpg' | asset_url  %}
    {% assign newsletterBGMobile =
        'WDLK_Newsletter-Bg_Tablet_1x.jpg' | asset_url %}
    {% assign newsletterBGMobile2x =
        'WDLK_Newsletter-Bg_Tablet_2x.jpg' | asset_url %}
    {% assign newsletterBG =
        'WDLK_Newsletter-Bg_Desktop_1x.jpg' | asset_url  %}
    {% assign newsletterBG2x =
        'WDLK_Newsletter-Bg_Desktop_2x.jpg' | asset_url  %}

    <picture>
        <source
        media="(max-width: 470px)"
        srcset="{{newsletterBGSmart}}, {{ newsletterBGSmart2x }} 2x">
        <source
        media="(max-width: 768px)"
        srcset="{{ newsletterBGMobile }}, {{ newsletterBGMobile2x }} 2x">
        <source
        media="(min-width: 770px)"
        srcset="{{ newsletterBG }}, {{ newsletterBG2x }} 2x">
        <img class="NewsletterForm-img"
        src="{{ newsletterBG }}"
        alt="{{ 'general.newsletter_form.img_alt' | t }}">
    </picture>
</form>
