{% capture notificationTitle %}
	{{'general.notification.title' | t }}
{% endcapture %}
{% capture notificationCaption %}
	{{'general.notification.caption' | t }}
{% endcapture %}

{% if notificationTitle != blank and notificationCaption != blank %}
	{% assign notificationIsActive = notificationTitle %}
	<input type="checkbox" class="Notification-state" id="notificationModule" />
	<figure class="Notification is-active">
		<figcaption class="Notification-content Headline Headline--4">
			{{notificationTitle}}{{notificationCaption}}{{'general.notification.code' | t }}
		</figcaption>
		<label class="Notification-link" for="notificationModule">x</label>
	</figure>
{% endif %}
