<article class="Banner Banner--collection Banner--content">
  {% assign collectionBannerDesktop =
      'WDLK_Banner-Collection_Desktop@1x.jpg' | asset_url %}
  {% assign collectionBannerDesktop2x =
      'WDLK_Banner-Collection_Desktop_retina.jpg' | asset_url  %}
  {% assign collectionBannerTablet =
      'WDLK_Banner-Collection_Tablet@1x.jpg' | asset_url %}
  {% assign collectionBannerTablet2x =
      'WDLK_Banner-Collection_Tablet_retina.jpg' | asset_url %}
  {% assign collectionBannerMobile =
      'WDLK_Banner-Collection_Mobile@1x.jpg' | asset_url  %}
  {% assign collectionBannerMobile2x =
      'WDLK_Banner-Collection_Mobile_retina.jpg' | asset_url  %}

    <picture>
      <source
        media="(max-width: 480px)"
        srcset="{{ collectionBannerMobile }}, {{ collectionBannerMobile2x}} 2x">
      <source
      media="(max-width: 768px)"
      srcset="{{ collectionBannerTablet }}, {{ collectionBannerTablet2x }} 2x">
      <source
      media="(min-width: 770px)"
      srcset="{{ collectionBannerDesktop }}, {{ collectionBannerDesktop2x}} 2x">
      <img class="Banner-image"
      src="{{ collectionBannerDesktop }}"
      alt="{{'home_page.sections.full_banner_2_headline' | t}}">
    </picture>
    <div class="Banner-content">
        <h3 class="Headline Headline--2">
          {{'home_page.sections.banner_collection_title' | t}}
        </h3>
        <p class="Banner-copy">{{'home_page.sections.banner_collection_copy_1' | t}}</p>
        <p class="Banner-copy">{{'home_page.sections.banner_collection_copy_2' | t}}</p>
        <a href="{{ all_products['flying-fish-bikini-pouch'].url }}" >
          <span class="Link Link--btn">
              {{'home_page.sections.banner_collection_link' | t}}
              <svg class="Icon Icon--right">
                  <use xlink:href="#Arrow_right" />
              </svg>
          </span>
        </a>
    </div>
</article>
