<article class="Banner Banner--main FadeThrough">
  {% comment %}Main Banner Primary{% endcomment %}
  {% assign mainBannerSmart =
      'green-friday-mobile.jpg' | asset_url %}
  {% assign mainBannerSmart2x =
      'green-friday-mobile@2x.jpg' | asset_url  %}
  {% assign mainBannerMobile =
      'green-friday-tablet.jpg' | asset_url %}
  {% assign mainBannerMobile2x =
      'green-friday-tablet@2x.jpg' | asset_url %}
  {% assign mainBanner =
      'green-friday-desktop1.jpg' | asset_url %}
  {% assign mainBanner2x =
      'green-friday-desktop@2x.jpg' | asset_url %}

  {% comment %}Main Banner Secondary{% endcomment %}
  {% assign mainBannerSmartSecondary =
      'WDLK_Main-Banner_Smartphone_@1x.jpg' | asset_url %}
  {% assign mainBannerSmartSecondary2x =
      'WDLK_Main-Banner_Smartphone_retina.jpg' | asset_url  %}
  {% assign mainBannerMobileSecondary =
      'WDLK_Main-Banner_Tablet_@1x.jpg' | asset_url %}
  {% assign mainBannerMobileSecondary2x =
      'WDLK_Main-Banner_Tablet_retina.jpg' | asset_url %}
  {% assign mainBannerSecondary =
      'WDLK_Main-Banner_Desktop_@1x.jpg' | asset_url  %}
  {% assign mainBannerSecondary2x =
      'WDLK_Main-Banner_Desktop_retina.jpg' | asset_url  %}

  {% comment %} <div class="Banner-content">
      <svg viewbox="0 0 1400 300">
          <title>{{'home_page.sections.main_headline' | t}}</title>
          <desc>
              {{'home_page.section.main_banner_description' | t}}
          </desc>
          <defs>
              <linearGradient class="Gradient" id="Gradient" x1="0" x2="1" y1="0" y2="0">
                  <stop class="Gradient-stop" offset="0%" />
                  <stop class="Gradient-stop" offset="100%"/>
              </linearGradient>
          </defs>
          <use xlink:href="#Arrow_left" class="HeadlineBanner-btn" y="10%" x="2%" width="20" fill="var(--hsla-yellow)" />
          <g class="HeadlineGroup">
            <text class="Topline" x="50%">
              {{'home_page.banner_main.topline.copy' | t}}
            </text>
            <text fill="url(#Gradient)">
              <tspan class="Headline--extended" dx="50%" dy="22%">
                {{'home_page.banner_main.headline.copy' | t}}
              </tspan>
            </text>
          </g>
          <use xlink:href="#Arrow_right" class="HeadlineBanner-btn" y="10%" x="98%" width="20" fill="var(--hsla-coral)" />
      </svg>
      <a class="Btn Btn--inversePlain" href="{{ collections['bikinis'].url}}">
          {{'home_page.sections.main_button_copy' | t}}
      </a>
  </div> {% endcomment %}
  <a class="Btn Btn--inversePlain" href="{{ collections['bikinis'].url}}">
      {{'home_page.sections.main_button_copy' | t}}
  </a>
  <picture class="Banner-media FadeThrough-media">
    <source
    media="(max-width: 480px)"
    srcset="{{mainBannerSmart}}, {{ mainBannerSmart2x }} 2x">
    <source
    media="(max-width: 768px)"
    srcset="{{ mainBannerMobile }}, {{ mainBannerMobile2x }} 2x">
    <source
    media="(min-width: 770px)"
    srcset="{{ mainBanner }}, {{ mainBanner2x }} 2x">
    <img class="Banner-image"
    src="{{ mainBanner }}"
    alt="Woodlike Ocean - {{'home_page.sections.main_headline' | t}}">
  </picture>
  <picture class="Banner-media FadeThrough-media">
    <source
    media="(max-width: 480px)"
    srcset="{{mainBannerSmartSecondary}}, {{ mainBannerSmartSecondary2x }} 2x">
    <source
    media="(max-width: 768px)"
    srcset="{{ mainBannerMobileSecondary }}, {{ mainBannerMobileSecondary2x }} 2x">
    <source
    media="(min-width: 770px)"
    srcset="{{ mainBannerSecondary }}, {{ mainBannerSecondary2x }} 2x">
    <img class="Banner-image"
    src="{{ mainBannerSecondary }}"
    alt="Woodlike Ocean - {{'home_page.sections.main_headline' | t}}">
  </picture>
  <div class="FadeThrough-panel js_fadeThrough-btn"></div>
  <div class="FadeThrough-panel js_fadeThrough-btn"></div>
  <a href="#Banner-teaser" class="Banner-lead js_scroll">
      <svg class="Icon">
          <use xlink:href="#Arrow_down" />
      </svg>
      {{'home_page.sections.main_scroll_tip' | t}}
  </a>
</article>
