{% comment %}
These are the necessary variables examples to correctly initialize the component:

1. {% assign paneId = '0' %}
2. {% assign headline = 'Headline copy' %}
3. {% assign caption = 'Caption copy' %}
4. {% assign link = 'link' %}

5. {% assign srcSet1 = 'WDLK_Expander_Mobile_1@1x.jpg' | asset_url %}
6. {% assign srcSet1@2x = 'WDLK_Expander_Mobile_1@2x.jpg' | asset_url %}
7. {% assign srcSet2 = 'WDLK_Expander_Tablet_1@1x.jpg' | asset_url %}
8. {% assign srcSet2@2x = 'WDLK_Expander_Tablet_1@2x.jpg' | asset_url %}
9. {% assign srcSet3 = 'WDLK_Expander_Desktop_1@1x.jpg' | asset_url %}
10. {% assign srcSet3@2x = 'WDLK_Expander_Desktop_1@1x.jpg' | asset_url %}

{% endcomment %}


<article
  class="Expander is-collapsed"
  style="--is-collapsed: 1"
  tabindex="0">
  <svg
    aria-labelledby="catagory-{{paneId}}-title"
    class="Expander-media js_expander"
    preserveAspectRatio="xMinYMin"
    role="img"
    viewBox="0 0 768 1024" >
    <title id="catagory-{{paneId}}-title">{{ headline }} Swimwear Category</title>
    <image class="Expander-img" href="{{ srcSet1 }}" />
    <image class="Expander-img" href="{{ srcSet2 }}" />
    <image class="Expander-img" href="{{ srcSet3 }}" />
  </svg>
  <div class="Expander-content">
    <h2 class="Headline Headline--1 Headline--bold">{{ headline }}</h2>
    <p>{{ caption }}</p>
    <a class="Link Link--btn" href="{{ link }}">
      Shop {{ categoryTitle }}
      <svg class="Icon Icon--right">
          <use xlink:href="#Arrow_right" />
      </svg>
    </a>
  </div>
</article>
