{% comment %}
These are the necessary variables examples to correctly initialize the component:

1. {% assign paneId = '0' %}
2. {% assign headline = 'Headline copy' %}
3. {% assign caption = 'Caption copy' %}
4. {% assign link = 'link' %}

5. {% assign srcSet1 = 'WDLK_Expander_Mobile_1@1x.jpg' | asset_url %}
6. {% assign srcSet1@2x = 'WDLK_Expander_Mobile_1@2x.jpg' | asset_url %}
7. {% assign srcSet2 = 'WDLK_Expander_Tablet_1@1x.jpg' | asset_url %}
8. {% assign srcSet2@2x = 'WDLK_Expander_Tablet_1@2x.jpg' | asset_url %}
9. {% assign srcSet3 = 'WDLK_Expander_Desktop_1@1x.jpg' | asset_url %}
10. {% assign srcSet3@2x = 'WDLK_Expander_Desktop_1@1x.jpg' | asset_url %}

{% endcomment %}


<article
  class="Expander is-collapsed"
  style="--is-collapsed: 1"
  tabindex="0">
  <svg
    aria-labelledby="catagory-{{paneId}}-title"
    class="Expander-media js_expander"
    preserveAspectRatio="xMinYMin"
    role="img"
    viewBox="0 0 375 222" >
    <title id="catagory-{{paneId}}-title">{{ headline }} Swimwear Category</title>
    <image class="Expander-img" href="{{ srcSet1 }}" />
    <image class="Expander-img" href="{{ srcSet2 }}" />
    <image class="Expander-img" href="{{ srcSet3 }}" />
    <g class="Expander-content js_expander-content">
      {% assign paragraphs = caption | split: ','%}
      <text y="66%">
        <tspan x="15" dy="2.5rem">{{ headline }}</tspan>
        {% for paragraph in paragraphs %}
          <tspan x="15" dy="2.5rem">{{ paragraph }}</tspan>
        {% endfor %}
        <a class="Link Link--btn" href="{{ link }}">
          <tspan x="15" dy="2.5rem">
              Shop {{ categoryTitle }}
              <use class="Icon Icon--right" xlink:href="#Arrow_right" />
          </tspan>
        </a>
      </text>
    </g>
  </svg>
</article>
