{% comment %}
These are the necessary variables examples to correctly initialize the component:

1. {% assign paneId = '0' %}
2. {% assign headline = 'Headline copy' %}
3. {% assign caption = 'Caption copy' %}
4. {% assign categoryTitle = 'category title' %}

5. {% assign srcSet1 = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156808/mob-1.jpg' %}
6. {% assign srcSet2 = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156808/tab-1.jpg' %}
7. {% assign srcSet3 = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156808/mob-1.jpg' %}

{% endcomment %}

<input class="Expander-state" type="checkbox" id="pane-{{paneId}}">
<label class="Expander-pane" for="pane-{{paneId}}">
  <section class="Expander-container">
    <div class="Expander-content">
        <h2 class="Headline Headline--1">{{ headline }}</h2>
        <p>{{ caption }}</p>
    </div>
    <picture>
      <source srcset="{{ srcSet1 }}" media="(max-width: 480px)">
      <source srcset="{{ srcSet2 }}" media="(max-width: 768px)">
      <source srcset="{{ srcSet3 }}" media="(min-width: 770px)">
      <img class="Expander-img" src="{{ srcSet2 }}" alt="Radio Section Expander">
    </picture>
    <label class="Expander-close Link" for="pane-{{paneId}}">
      {{'general.expander.close' | t}}
    </label>
    <div class="Expander-intro Headline Headline--2">{{ categoryTitle }}</div>
  </section>
</label>
