 <!doctype html>
  <!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    {% comment %}
      %--Title Meta Tags  ========== --%
    {% endcomment %}
    <title>{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% if settings.favicon_enable %}
      <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {% endif %}
    {% comment %}
      %--Product Meta Tags ========== --%
    {% endcomment %}
    {% include 'open-graph-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">
    {% comment %}
      %-- CSS  ========== --%
    {% endcomment %}
    {{ 'main.scss.css' | asset_url | stylesheet_tag }}
    {% comment %}
      %-- Header hooks for plugins  ========== --%
    {% endcomment %}
    {{ 'jquery-1.11.2.min.js' | asset_url | script_tag }}
    {{ content_for_header }}
    {% comment %}
      %--$todo: If necessary include in the head tags--%
    {% include 'twitter-card' %}
    {% include 'oldIE-js' %}
    {% endcomment %}
  </head>
  {% comment %}
    Add the page template as a class for easy page or template specific styling.
  {% endcomment %}
  <body class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

    <header>
      {% comment %}
        Use the uploaded logo from theme settings if enabled.
        Site name gets precedence with H1 tag on homepage, div on other pages.
      {% endcomment %}
      {% if template == 'index' %}
        <h1 itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div itemscope itemtype="http://schema.org/Organization">
        {% endif %}
        {% if settings.logo_use_image %}
          <a href="/" itemprop="url">
            <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
          </a>
          {% else %}
            <a href="/" itemprop="url">{{ shop.name }}</a>
        {% endif %}
      {% if template == 'index' %}
        </h1>
      {% else %}
        </div>
      {% endif %}


      {% comment %}
        Show number of items in the cart and total cost in the /cart link

        Ajaxify Cart Notes:
          - #cartToggle toggles cart visibility (drawer or modal)
          - #cartCount updates the total number of items in the cart
          - #cartCost updates the total cost of the cart
          - Documentation:  http://shopify.com/timber#ajax-cart
      {% endcomment %}
      <a href="/cart" id="CartToggle">
          <span class="icon icon-cart" aria-hidden="true"></span>
        {{ 'layout.cart.title' | t }}
        (<span id="CartCount">{{ cart.item_count }}</span>
        {{ 'layout.cart.items_count' | t: count: cart.item_count }}
        <span id="CartCost">{{ cart.total_price | money }}</span>)
      </a>

      {% comment %}
        If customer accounts are enabled, provide login and create account links
      {% endcomment %}
      {% if shop.customer_accounts_enabled %}
      <div>
        {% if customer %}
          {% if customer.first_name != blank %}
            {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
            {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
          {% else %}
            <a href="/account">{{ 'layout.customer.account' | t }}</a>
          {% endif %}
          | {{ 'layout.customer.log_out' | t | customer_logout_link }}
        {% else %}
          {{ 'layout.customer.log_in' | t | customer_login_link }}
          {% if shop.customer_accounts_optional %}
          | {{ 'layout.customer.create_account' | t | customer_register_link }}
          {% endif %}
        {% endif %}
      </div>
      {% endif %}

    </header>

    <nav role="navigation">
      {% include 'site-nav' %}
      {% include 'search-bar' %}
    </nav>

    <main class="main-content" role="main">
      {{ content_for_layout }}
    </main>

    {% include 'footer' %}
    {% comment %}
      Customer Account
    {% endcomment %}
    {% if template contains 'customers' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}
    {{ 'main.js' | asset_url | script_tag }}
    {% comment %}
      Template-specific js
    {% endcomment %}
    {% if newHash %}
      <script>
          $(function() {
            timber.updateHash('{{ newHash }}');
          });
        {% endif %}
        {% if resetPassword %}
          $(function() {
            timber.resetPasswordSuccess();
          });
      </script>
    {% endif %}
    {% comment %}
      Ajaxify your cart with this plugin.
      Documentation:
        - http://shopify.com/timber#ajax-cart
    {% endcomment %}
    {% if settings.ajax_cart_enable %}
      {% include 'ajax-cart-template' %}
      <script>
        jQuery(function($) {
          ajaxifyShopify.init({
            method: '{{ settings.ajax_cart_method }}',
            wrapperClass: 'wrapper',
            formSelector: '#AddToCartForm',
            addToCartSelector: '#AddToCart',
            cartCountSelector: '#CartCount',
            cartCostSelector: '#CartCost',
            toggleCartButton: '#CartToggle',
            useCartTemplate: true,
            btnClass: 'btn',
            moneyFormat: {{ shop.money_format | json }},
            disableAjaxCart: false,
            enableQtySelectors: true,
            prependDrawerTo: 'body'
          });
        });
      </script>
    {% endif %}
  </body>
</html>
