{% comment %}

  For all available customer liquid tags:
    - http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}
<main class="Container">
    <h1 class="Headline Headline--2">
        Hi <strong>{{ customer.first_name }}</strong><br/>
        Welcome to Woodlike [WDLK]!
    </h1>
    {% comment %}
    If we have past orders, loop through each one
    {% endcomment %}
    <h2 class="Headline Headline--4">{{ 'customer.orders.title' | t }}</h2>
    {% paginate customer.orders by 20 %}
    {% if customer.orders.size != 0 %}
        <table class="Table">
            <thead>
              <tr class="Table-row">
                <th class="Table-headcell">{{ 'customer.orders.order_number' | t }}</th>
                <th class="Table-headcell">{{ 'customer.orders.date' | t }}</th>
                <th class="Table-headcell">{{ 'customer.orders.payment_status' | t }}</th>
                <th class="Table-headcell">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th class="Table-headcell">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <td class="Table-cell">
                      <a class="Link" href="{{ order.customer_url }}">{{ order.name }}</a>
                  </td>
                  <td class="Table-cell">{{ order.created_at | date: format: 'month_day_year' }}</td>
                  <td class="Table-cell">{{ order.financial_status_label }}</td>
                  <td class="Table-cell">{{ order.fulfillment_status_label }}</td>
                  <td class="Table-cell">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'customer.orders.none' | t }}</p>
    {% endif %}
    {% if paginate.pages > 1 %}
        <hr>
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
    {% endif %}
    {% endpaginate %}
    <h2 class="Headline Headline--4">{{ 'customer.account.details' | t }}</h2>
    <h3 class="Headline Headline--6">{{ customer.name }}</h3>
    {% if customer.default_address != nil %}
      {{ customer.default_address.address1 }}
      {% if customer.default_address.address2 != "" %}
        {{ customer.default_address.address2 }}<br />
      {% endif %}

      {% if customer.default_address.city != "" %}
        {{ customer.default_address.city }}
      {% endif %}
      {% if customer.default_address.province_code != "" %}
        {{ customer.default_address.province_code | upcase }}
      {% endif %}

      {% if customer.default_address.zip != "" %}
        {{ customer.default_address.zip | upcase }}<br>
      {% endif %}

      {% if customer.default_address.country != "" %}
        {{ customer.default_address.country }}<br />
      {% endif %}

      {% if customer.default_address.phone != "" %}
        {{ customer.default_address.phone }}<br />
      {% endif %}

    {% endif %}
    <a class="Link" href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
</main>
