<section class="Stage">
    <article class="Banner Banner--main">
        <picture>
            <source
            media="(max-width: 480px)"
            srcset="{{ 'dummy-main-banner-mobile.jpg' | asset_url }}">
            <source
            media="(max-width: 768px)"
            srcset="{{ 'dummy-main-banner-mobile.jpg' | asset_url }}">
            <source
            media="(min-width: 770px)"
            srcset="{{ 'dummy-main-banner.jpg' | asset_url }}">
            <img class="Banner-image"
            src="{{ 'dummy-main-banner.jpg' | asset_url }}"
            alt="Woodlike Ocean - swimwear crafted out of ocean recovered fishing nets">
        </picture>

    </article>
    <article class="Banner Banner--half">
        <picture>
            <source
            media="(max-width: 480px)"
            srcset="{{ 'dummy-half-banner-two-smart.jpeg' | asset_url }}">
            <source
            media="(max-width: 768px)"
            srcset="{{ 'dummy-half-banner-two-mobile.jpeg' | asset_url }}">
            <source
            media="(min-width: 770px)"
            srcset="{{ 'dummy-half-banner-two.jpeg' | asset_url }}">
            <img class="Banner-image"
            src="{{ 'dummy-half-banner-two.jpeg' | asset_url }}"
            alt="Woodlike Ocean - swimwear crafted out of ocean recovered fishing nets">
        </picture>
    </article>
    <article class="Banner Banner--half">
        <picture>
            <source
            media="(max-width: 480px)"
            srcset="{{ 'WDLK_Half-Banner2_568x320_Smartphone.png' | asset_url }}">
            <source
            media="(max-width: 768px)"
            srcset="{{ 'WDLK_Half-Banner2_384x512_Tablet.png' | asset_url }}">
            <source
            media="(min-width: 770px)"
            srcset="{{ 'WDLK_Half-Banner2_720x405_Desktop.png' | asset_url }}">
            <img class="Banner-image"
            src="{{ 'WDLK_Half-Banner2_720x405_Desktop.png' | asset_url }}"
            alt="One woodlike ocean bikini (100 g): Eliminates 126 g of ocean waste">
        </picture>
    </article>
    <article class="Banner Banner--oneThird">
        <picture>
            <source
            media="(max-width: 480px)"
            srcset="{{ 'dummy-onethird-banner-smart.jpeg' | asset_url }}">
            <source
            media="(max-width: 768px)"
            srcset="{{ 'dummy-onethird-banner-mobile.jpeg' | asset_url }}">
            <source
            media="(min-width: 770px)"
            srcset="{{ 'dummy-onethird-banner.jpeg' | asset_url }}">
            <img class="Banner-image"
            src="{{ 'dummy-onethird-banner.jpeg' | asset_url }}"
            alt="Woodlike Ocean - swimwear crafted out of ocean recovered fishing nets">
        </picture>
    </article>
    <article class="Banner Banner--twoThirds">
        <picture>
            <source
            media="(max-width: 480px)"
            srcset="{{ 'WDLK_TwoThirds-Banner_568x320_Smartphone.png' | asset_url }}">
            <source
            media="(max-width: 768px)"
            srcset="{{ 'WDLK_TwoThirds-Banner_512x512_Tablet.png' | asset_url }}">
            <source
            media="(min-width: 770px)"
            srcset="{{ 'WDLK_TwoThirds-Banner_960x405_Desktop.png' | asset_url }}">
            <img class="Banner-image"
            src="{{ 'WDLK_TwoThirds-Banner_960x405_Desktop.png' | asset_url }}"
            alt="Woodlike Ocean - swimwear crafted out of ocean recovered fishing nets">
        </picture>
    </article>
</section>
