<section class="Stage">
    <article class="Banner Banner--main">
        <picture>
            <source
            media="(max-width: 480px)"
            srcset="{{ 'dummy-main-banner-mobile.jpg' | asset_url }}">
            <source
            media="(max-width: 768px)"
            srcset="{{ 'dummy-main-banner-mobile.jpg' | asset_url }}">
            <source
            media="(min-width: 770px)"
            srcset="{{ 'dummy-main-banner.jpg' | asset_url }}">
            <img class="Banner-image"
            src="{{ 'dummy-main-banner.jpg' | asset_url }}"
            alt="Woodlike Ocean - swimwear crafted out of ocean recovered fishing nets">
        </picture>

    </article>
    <article class="Banner Banner--half">
        <picture>
            <source
            media="(max-width: 768px)"
            srcset="{{ 'dummy-half-banner-two-smart.jpeg' | asset_url }}">
            <img class="Banner-image"
            src="{{ 'dummy-half-banner-two.jpeg' | asset_url }}"
            alt="Woodlike Ocean - swimwear crafted out of ocean recovered fishing nets">
        </picture>
    </article>
    <article class="Banner Banner--half">
        <picture>
            <source
            media="(max-width: 768px)"
            srcset="{{ 'dummy-half-banner-smart.jpg' | asset_url }}">
            <img class="Banner-image"
            src="{{ 'dummy-half-banner.jpg' | asset_url }}"
            alt="Woodlike Ocean - swimwear crafted out of ocean recovered fishing nets">
        </picture>
    </article>
    <article class="Banner Banner--twoThirds">
        <picture>
            <source
            media="(min-width: 650px)"
            srcset="{{ 'dummy-twothird-banner.jpg' | asset_url }}">
            <source
            media="(min-width: 465px)"
            srcset="{{ 'dummy-twothird-banner.jpg' | asset_url }}">
            <img class="Banner-image"
            src="{{ 'dummy-twothird-banner.jpg' | asset_url }}"
            alt="Woodlike Ocean - swimwear crafted out of ocean recovered fishing nets">
        </picture>
    </article>
    <article class="Banner Banner--oneThird">
        <picture>
            <source
            media="(min-width: 650px)"
            srcset="{{ 'dummy-onethird-banner.jpeg' | asset_url }}">
            <source
            media="(min-width: 465px)"
            srcset="{{ 'dummy-onethird-banner.jpeg' | asset_url }}">
            <img class="Banner-image"
            src="{{ 'dummy-onethird-banner.jpeg' | asset_url }}"
            alt="Woodlike Ocean - swimwear crafted out of ocean recovered fishing nets">
        </picture>
    </article>
</section>
