<section class="Stage">
    <article class="Banner Banner--main">
        {% assign mainBannerSmart =
            'WDLK_Main-Banner_Smartphone_1x.jpg' | asset_url %}
        {% assign mainBannerSmart2x =
            'WDLK_Main-Banner_Smartphone_2x.jpg' | asset_url  %}
        {% assign mainBannerMobile =
            'WDLK_Main-Banner_Tablet_1x.jpg' | asset_url %}
        {% assign mainBannerMobile2x =
            'WDLK_Main-Banner_Tablet_2x.jpg' | asset_url %}
        {% assign mainBanner =
            'WDLK_Main-Banner_Desktop_1x.jpg' | asset_url  %}
        {% assign mainBanner2x =
            'WDLK_Main-Banner_Desktop_2x.jpg' | asset_url  %}

        <div class="Banner-content">
            <small class="Banner-introText">
                {{'home_page.sections.main_small' | t}}
            </small>
            <svg class="HeadlineBanner Banner-mainHeadline">
                <title>{{'home_page.sections.main_headline' | t}}</title>
                <desc>Woodlike Ocean sustainable swimwear hashtag</desc>
                <defs>
                    <linearGradient id="Gradient" x1="0" x2="1" y1="0" y2="0">
                        <stop offset="0%" stop-color="#FFCA54"/>
                        <stop offset="100%" stop-color="#FF6C54"/>
                    </linearGradient>
                </defs>
                <text class="HeadlineBanner-text" y="50%" x="50%" fill="url(#Gradient)" dy=".2em">
                    <tspan class="HeadlineBanner-tspan">
                        {{'home_page.sections.main_headline_svg_1' | t}}
                    </tspan>
                    <tspan class="HeadlineBanner-tspan">
                        {{'home_page.sections.main_headline_svg_2' | t}}
                    </tspan>
                </text>
                <text class="HeadlineBanner-text" y="100%" x="50%" fill="url(#Gradient)">
                    {{'home_page.sections.main_headline_svg_2' | t}}
                </text>
            </svg>
            <a class="Btn Btn--secondary Banner-btn" href="{{ collections['bikinis'].url}}">
                {{'home_page.sections.main_button_copy' | t}}
            </a>
        </div>
        <div class="Banner-lead">
            <svg class="Icon">
                <use xlink:href="#Arrow_down" />
            </svg>
            {{'home_page.sections.main_scroll_tip' | t}}
        </div>
        <picture>
            <source
            media="(max-width: 480px)"
            srcset="{{mainBannerSmart}}, {{ mainBannerSmart2x }} 2x">
            <source
            media="(max-width: 768px)"
            srcset="{{ mainBannerMobile }}, {{ mainBannerMobile2x }} 2x">
            <source
            media="(min-width: 770px)"
            srcset="{{ mainBanner }}, {{ mainBanner2x }} 2x">
            <img class="Banner-image"
            src="{{ mainBanner }}"
            alt="One woodlike ocean bikini (100 g): Eliminates 126 g of ocean waste">
        </picture>

    </article>
    <article class="Banner Banner--teaser">
        <div class="Banner-content">
            <svg class="Logo-img">
                <use xlink:href="#Logo_Woodlike_Ocean_horizontal" />
            </svg>
            <small class="Banner Banner-introText">
                {{'home_page.sections.claim_intro' | t}}
            </small>
            <strong class="Headline Headline--1">
                {{'home_page.sections.claim' | t}}
            </strong>
        </div>
    </article>
    <article class="Banner Banner--half">
        {% assign halfBannerSmart =
            'WDLK_Half-Banner1_Smartphone_1x.jpg' | asset_url %}
        {% assign halfBannerSmart2x =
            'WDLK_Half-Banner1_Smartphone_2x.jpg' | asset_url  %}
        {% assign halfBannerMobile =
            'WDLK_Half-Banner1_Tablet_1x.jpg' | asset_url %}
        {% assign halfBannerMobile2x =
            'WDLK_Half-Banner1_Tablet_2x.jpg' | asset_url %}
        {% assign halfBanner =
            'WDLK_Half-Banner1_Desktop_1x.jpg' | asset_url  %}
        {% assign halfBanner2x =
            'WDLK_Half-Banner1_Desktop_2x.jpg' | asset_url  %}
        <a href="/" >
            <picture>
                <source
                media="(max-width: 480px)"
                srcset="{{halfBannerSmart}}, {{ halfBannerSmart2x }} 2x">
                <source
                media="(max-width: 768px)"
                srcset="{{ halfBannerMobile }}, {{ halfBannerMobile2x }} 2x">
                <source
                media="(min-width: 770px)"
                srcset="{{ halfBanner }}, {{ halfBanner2x}} 2x">
                <img class="Banner-image"
                src="{{ halfBanner }}"
                alt="One woodlike ocean bikini (100 g): Eliminates 126 g of ocean waste">
            </picture>
        </a>
    </article>
    <article class="Banner Banner--half">
        {% assign halfBanner2Smart =
            'WDLK_Half-Banner2_Smartphone_1x.jpg' | asset_url %}
        {% assign halfBanner2Smart2x =
            'WDLK_Half-Banner2_Smartphone_2x.jpg' | asset_url  %}
        {% assign halfBanner2Mobile =
            'WDLK_Half-Banner2_Tablet_1x.jpg' | asset_url %}
        {% assign halfBanner2Mobile2x =
            'WDLK_Half-Banner2_Tablet_2x.jpg' | asset_url %}
        {% assign halfBanner2 =
            'WDLK_Half-Banner2_Desktop_1x.jpg' | asset_url  %}
        {% assign halfBanner22x =
            'WDLK_Half-Banner2_Desktop_2x.jpg' | asset_url  %}
        <a href="/" >
            <picture>
                <source
                media="(max-width: 480px)"
                srcset="{{halfBanner2Smart}}, {{ halfBanner2Smart2x }} 2x">
                <source
                media="(max-width: 768px)"
                srcset="{{ halfBanner2Mobile }}, {{ halfBanner2Mobile2x }} 2x">
                <source
                media="(min-width: 770px)"
                srcset="{{ halfBanner2 }}, {{ halfBanner22x}} 2x">
                <img class="Banner-image"
                src="{{ halfBanner2 }}"
                alt="One woodlike ocean bikini (100 g): Eliminates 126 g of ocean waste">
            </picture>
        </a>
    </article>
    <article class="Banner Banner--oneThird">
        {% assign oneThirdBannerSmart =
            'WDLK_OneThird-Banner_Smartphone_1x.jpg' | asset_url %}
        {% assign oneThirdBannerSmart2x =
             'WDLK_OneThird-Banner_Smartphone_2x.jpg' | asset_url  %}
        {% assign oneThirdBannerMobile =
            'WDLK_OneThird-Banner_Tablet_1x.jpg' | asset_url %}
        {% assign oneThirdBannerMobile2x =
            'WDLK_OneThird-Banner_Tablet_2x.jpg' | asset_url %}
        {% assign oneThirdBanner =
            'WDLK_OneThird-Banner_Desktop_1x.jpg' | asset_url  %}
        {% assign oneThirdBanner2x =
            'WDLK_OneThird-Banner_Desktop_2x.jpg' | asset_url  %}
        <a href="/" >
            <picture>
                <source
                media="(max-width: 480px)"
                srcset="{{ oneThirdBannerSmart}}, {{ oneThirdBannerSmart2x }} 2x">
                <source
                media="(max-width: 768px)"
                srcset="{{ oneThirdBannerMobile }}, {{ oneThirdBannerMobile2x }} 2x">
                <source
                media="(min-width: 770px)"
                srcset="{{ oneThirdBanner }}, {{ oneThirdBanner2x}} 2x">
                <img class="Banner-image"
                src="{{ oneThirdBanner }}"
                alt="One woodlike ocean bikini (100 g): Eliminates 126 g of ocean waste">
            </picture>
        </a>
    </article>
    <article class="Banner Banner--twoThirds">
        <a href="/" >
            {% assign twoThirdBannerSmart = 'WDLK_TwoThirds-Banner_Smartphone_1x.jpg' | asset_url %}
            {% assign twoThirdBannerSmart2x = 'WDLK_TwoThirds-Banner_Smartphone_2x.jpg' | asset_url  %}
            {% assign twoThirdBannerMobile = 'WDLK_TwoThirds-Banner_Tablet_1x.jpg' | asset_url %}
            {% assign twoThirdBannerMobile2x =
                'WDLK_TwoThirds-Banner_Tablet_2x.jpg' | asset_url %}
            {% assign twoThirdBanner =
                'WDLK_TwoThirds-Banner_Desktop_1x.jpg' | asset_url  %}
            {% assign twoThirdBanner2x =
                'WDLK_TwoThirds-Banner_Desktop_2x.jpg' | asset_url  %}
            <picture>
                <source
                media="(max-width: 480px)"
                srcset="{{ twoThirdBannerSmart}}, {{ twoThirdBannerSmart2x }} 2x">
                <source
                media="(max-width: 768px)"
                srcset="{{ twoThirdBannerMobile }}, {{ twoThirdBannerMobile2x }} 2x">
                <source
                media="(min-width: 770px)"
                srcset="{{ twoThirdBanner }}, {{ twoThirdBanner2x}} 2x">
                <img class="Banner-image"
                src="{{ twoThirdBanner }}"
                alt="One woodlike ocean bikini (100 g): Eliminates 126 g of ocean waste">
            </picture>
        </a>
    </article>
</section>
